      body{
      background:#b87333;
      }




      .menuSuperior {
            background-color: darkkhaki;
            height: 100px;
            align-items: center;


        }

        .contenedorSuperior {
            background-color: blue;
            height: 200px;
            align-content: center;
            width: 100%;
            position:fixed;

        }


        aside {
            background-color: cadetblue;
            width: 20%;
            height:400px;
            float:left;

        }
        .contenedorCentral{
            background-color:red;
            height:400px;
            float: right;
            width: 80%;
            display: flex;


        }


        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            margin: 0.4rem 0;
        }


        footer{
          background-color: #f3e5f5;
          height: auto;
          position: fixed;
        /*  height: 80px;           margin: auto;
  position: bottom; */
          padding: 8px;
          bottom: 0;
          width: 100%;


        }
